<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="py-8">
    <h2 class="text-5xl font-bold mb-4">Welcome, {{name}}!</h2>
    {{#if recipes.length}}
    <h3 class="text-xl font-bold my-8">My Created Recipes:</h3>
    
    <div class=" max-w-8xl mx-auto grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

      {{#each recipes as |recipe|}}
      <div class="card relative rounded-lg overflow-hidden shadow-lg bg-white">
        <div class="p-4">
          <h2 class="text-xl font-bold mb-2 text-blue-900">{{recipe.name}}</h2>
          <img src="{{recipe.image}}" alt="{{recipe.name}}" class="w-full h-72 object-cover object-top rounded-lg">
          <div class="h-32 overflow-y-auto">
            <p class="text-gray-700 text-base mt-4">{{recipe.description}}</p>
          </div>
          <div class="flex justify-between mt-4">
            <button type="button"
              class="text-sm font-medium text-blue-900 hover:underline rounded-md px-3 py-2 bg-yellow-400 mr-2"
              data-toggle="collapse" data-target="#{{recipe.id}}-ingredients">Show Ingredients</button>
            <a href="{{recipe.url}}"
              class=" text-sm font-medium text-white rounded-md px-3 py-2 bg-blue-900 hover:bg-blue-800 hover:underline">Visit
              Recipe</a>
          </div>
        </div>
        <div id="{{recipe.id}}-ingredients" class="collapse">
          <ul class="p-4">
            {{#each recipe.ingredients as |ingredient|}}
            <li>{{ingredient}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{/each}}
    </div>


    <h3 class="text-xl font-bold my-8">My Favorite Recipes</h3>
    {{/if}}
  </div>
</div>


<!-- profile.handlebars -->

<h1>Create Your Own Recipe</h1>
<form id="recipe-form">
  <label for="recipe-name">Recipe Name:</label>
  <input type="text" id="recipe-name" name="recipe-name"><br><br>

  <label for="ingredients">Ingredients:</label>
  <textarea id="ingredients" name="ingredients"></textarea><br><br>

  <label for="description">Description:</label>
  <textarea id="description" name="description"></textarea><br><br>

  <label for="picture">Picture:</label>
  <input type="file" id="picture" name="picture"><br><br>

  <label for="instructions">Instructions:</label>
  <textarea id="instructions" name="instructions"></textarea><br><br>

  <button type="submit" id="submit-btn">Submit</button>
</form>


<script src="./js/profile.js"></script>

