<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

{{!-- <div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">project name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">:</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div> --}}

  {{#if recipes.length}}
  <div class="col-md-6 project-list">
    <h3>My Created Recipes</h3>

    {{#each recipes as |recipe|}}
  <div class="card mb-4">
    <div class="card-header">
      <h2>{{recipe.name}}</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img src="{{recipe.image}}" alt="{{recipe.name}}" class="img-fluid">
        </div>
        <div class="col-md-8">
          <p>{{recipe.description}}</p>
          <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#{{recipe.id}}-ingredients">Show Ingredients</button>
        </div>
      </div>
      <div id="{{recipe.id}}-ingredients" class="collapse">
        <ul>
          {{#each recipe.ingredients as |ingredient|}}
            <li>{{ingredient}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
{{/each}}
<h3>My Favorite Recipes</h3>
  {{/if}}
</div>

<!-- profile.handlebars -->

<h1>Create Your Own Recipe</h1>
<form id="recipe-form">
  <label for="recipe-name">Recipe Name:</label>
  <input type="text" id="recipe-name" name="recipe-name"><br><br>

  <label for="ingredients">Ingredients:</label>
  <textarea id="ingredients" name="ingredients"></textarea><br><br>

  <label for="description">Description:</label>
  <textarea id="description" name="description"></textarea><br><br>

  <label for="picture">Picture:</label>
  <input type="file" id="picture" name="picture"><br><br>

  <label for="instructions">Instructions:</label>
  <textarea id="instructions" name="instructions"></textarea><br><br>

  <button type="submit" id="submit-btn">Submit</button>
</form>


<script src="./js/profile.js"></script>
